<component name="ArtifactManager">
  <artifact type="war" name="springmvc_01_frist:war">
    <output-path>$PROJECT_DIR$/springmvc_01_frist/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_01_frist</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_01_frist-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_01_frist:war exploded" />
    </root>
  </artifact>
</component>